package pages

templ UpdateProfile() {
	@lagouts.Base() {
		<div>
			<h1>Update Profile</h1>
			<form>
				<input type="text" name="firstName" placeholder="First Name"/>
				<input type="text" name="lastName" placeholder="Last Name"/>
				<button type="submit">Update</button>
			</form>
		</div>
	}
}
