package pages 

templ UpdatePassword() {
	@lagouts.Base() {
		<div>
			<h1>Update Password</h1>
			<form>
				<input type="password" name="oldPassword" placeholder="Current Password"/>
				<input type="password" name="newPassword" placeholder="New Password"/>
				<button type="submit">Update</button>
			</form>
		</div>
	}
}
